.bg-core-bright {
  background: #0051a5;
}

.bg-core-yellow {
  background: #fedf01;
}

.bg-core-dark {
  background: #002750;
}

.bg-accent-slate {
  background: #493d63;
}

body,
html,
#root,
.App {
  height: 100%;
}

body {
  background: #e3f4ff;
}

.sidebutton:hover {
  background: #111;
  cursor: pointer;
}
