.bg-core-bright {
  background: #0051a5;
}

.bg-core-yellow {
  background: #fedf01;
}

.bg-core-dark {
  background: #002750;
}

.bg-accent-slate {
  background: #493d63;
}

body,
html,
#root,
.App {
  height: 100%;
}
.master {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.sidebutton:hover {
  background: #111;
  cursor: pointer;
}

.widget {
  padding: 2%;
  background: #f1f1f1;
}
